<!-- Component -->
<!-- <app-first-component></app-first-component>
<app-inline-style></app-inline-style>
<app-inline-template></app-inline-template>
<app-inline-template-style></app-inline-template-style> -->

<!-- module -->
<!-- <app-login></app-login> -->

<!-- Events -->
<!-- <app-events-function></app-events-function>
<app-events-input></app-events-input>
<app-events-counter></app-events-counter> -->

<!-- PropertBinding  ? why -->
<!-- <app-property-binding></app-property-binding> -->

<!-- If_Else -->
<!-- <app-if-else></app-if-else>
<app-else-if></app-else-if>
<app-switch-case></app-switch-case> -->

<!-- LOOP -->
<!-- <app-loop></app-loop>
<app-nestedloop></app-nestedloop> -->

<!-- Style Binding -->
<!-- <app-style-binding></app-style-binding> -->

<!-- Header -->
<!-- <app-header></app-header> -->

<!-- Forms -->
<!-- <app-form-basic></app-form-basic> -->

<!-- Toggle HTML element -->
<!-- <app-html-toggle></app-html-toggle> -->
<app-todo-list></app-todo-list>


