<!-- Component -->
<!-- <app-first-component></app-first-component>
<app-inline-style></app-inline-style>
<app-inline-template></app-inline-template>
<app-inline-template-style></app-inline-template-style> -->

<!-- module -->
<!-- <app-login></app-login> -->

<!-- Events -->
<!-- <app-events-function></app-events-function>
<app-events-input></app-events-input>
<app-events-counter></app-events-counter> -->

<!-- PropertBinding  ? why -->
<!-- <app-property-binding></app-property-binding> -->

<!-- If_Else -->
<!-- <app-if-else></app-if-else>
<app-else-if></app-else-if>
<app-switch-case></app-switch-case> -->

<!-- LOOP -->
<!-- <app-loop></app-loop>
<app-nestedloop></app-nestedloop> -->

<!-- Style Binding -->
<!-- <app-style-binding></app-style-binding> -->

<!-- Header -->
<!-- <app-header></app-header> -->

<!-- Forms -->
<!-- <app-form-basic></app-form-basic> -->

<!-- Toggle HTML element -->
<!-- <app-html-toggle></app-html-toggle> -->

<!-- BasicProject -->
<!-- <app-todo-list></app-todo-list> -->

<!-- Relation -->

<!-- Input -->
<!-- <app-parent></app-parent>
<app-parent-input></app-parent-input> -->

<!-- OutPut -->
<!-- <app-parent-output></app-parent-output> -->

<!-- TwoWayBinding -->
<!-- <app-two-way-binding></app-two-way-binding> -->

<!-- Template Refernce Variable -->
<!-- <app-template-reference-variable></app-template-reference-variable> -->

<!-- PIPES -->
<!-- <app-pipes-basic></app-pipes-basic> -->

<!-- FORM -->
<!-- <app-basic-form></app-basic-form> -->
<!-- <app-reactive-form></app-reactive-form> -->

<!-- DIRECTIVES -->
